extends layout

block content
  .row
    .twelve.columns
      h3.subheader Hello #{user.firstname} #{user.lastname},
  .row
    .large-12.columns
      ul.side-nav
        li: a(href="/organizations/create") Create Organization
        li: a(href="/organizations") List Organization
    .large-12.columns
      ul.side-nav
        li: a(href="/locations/create") Create Location
        li: a(href="/locations") List Location
    .large-12.columns
      ul.side-nav
        li: a(href="/slides/create") Create Slide
        li: a(href="/slides") List Slides