extends layout

block content
  .row
    .twelve.columns
      h3.subheader Hello #{user.username},
  .row
    .three.columns
      ul.nav-bar.vertical
        li: a(href="/slides/create") Create Slide
        li: a(href="/slides") List Slides
      ul.nav-bar.vertical
        li: a(href="/locations/create") Create Location
        li: a(href="/locations") List Location
    .three.columns
    .three.columns