extends layout

block content
  .row
    .twelve.columns
      h3.subheader Hello #{capitalize(user.username)}!
  .row
    .three.columns
      ul.nav-bar.vertical
        li: a(href="/slides/create") Create Slide
        li: a(href="/slides") List Slides
        li: a(href="/location") List Location