extends layout

block content
  .row
    .twelve.columns
      h3.subheader Hello #{user.username}!
  .row
    .three.columns
      h5.sunheader Navigation
      ul.nav-bar.vertical
        li: a(href="/slides/create") Create Slide
        li: a(href="/slides/create") List Slides
        li: a(href="/location") List Location

    .nine.columns
      h5.sunheader List of Slides
      table.twelve
        thead
          tr
            th ID
            th Title
            th Description
        tbody
          each slide in slides
            tr
              td= slide._id
              td= slide.title
              td= slide.description