extends layout

block append head
  style.
    .launch-console {
      margin: 40px 0;
    }

block content
  #main(role="main")

block append scripts
  script(data-main="app/config", src="requirejs/require.js")