extends layout

block content
  .main

block append scripts
  // Templates
  script(type="template", id="content")
    span This is a Backbone View!

  script(type="template", id="main")
    h1 Hello
    #myCarousel.carousel(style="width:300px")
      .carousel-inner
        .item.active: img(src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg")
        .item: img(src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg")
        .item: img(src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg")

      a.carousel-control.left(href="#myCarousel", data-slide="prev") &lsaquo;
      a.carousel-control.right(href="#myCarousel", data-slide="next") &rsaquo;
    p

  script(src="/app/app.js")