extends layout

block content
  .row
    .span6
      p Welcome! Here are some API endpoints
      small GET:
      ul
        li: a(href="/api") /api
        li: a(href="/api/slides") /api/slides
        li: a(href="/api/slides/hello") /api/slides/hello

      small POST:
      ul
        li: a(href="/api/slides") /api/slides
    .span6
      .main

  script(type="template", id="content")
    This is some content...

  script(type="template", id="main")
    h1 Hello
    p