extends layout

block append head
  style.
    .launch-console {
      margin: 40px 0;
    }

block content
  .row
    .twelve.columns
      h1.subheader The Enginering Network

      .launch-console
        p: a.button(href="/console") Launch Console

      ul.side-nav
        li: a(href="http://tenproject.github.com/ten-slides/") Presentation Slides
        li: a(href="https://github.com/tenproject") Github
        li: a(href="https://trello.com/board/ten/50cac0b0f46c28151c0047d7") Trello Board

block append scripts
  // Templates
    script(type="template", id="content")
      .row
        .span4
          h4 The Engineering Network
          p.lead an ECSE-475 Design Project

          .launch-console
            p: a.btn.btn-success.btn-large(href="/#console") Launch Console
            small or&nbsp;
              a(href="/#register") register for an account

          strong Quick Links
          ul
            li: a(href="http://tenproject.github.com/ten-slides/") Presentation Slides
            li: a(href="https://github.com/tenproject") Github
            li: a(href="https://trello.com/board/ten/50cac0b0f46c28151c0047d7") Trello Board

        .span8

          span.lead Latest Slide Submissions
          #myCarousel.carousel
            .carousel-inner
              .item.active: img(src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg")
              .item: img(src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg")
              .item: img(src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg")

            a.carousel-control.left(href="#myCarousel", data-slide="prev") &lsaquo;
            a.carousel-control.right(href="#myCarousel", data-slide="next") &rsaquo;

    script(type="template", id="main")
      p

    script(src="/app/app.js")