!!! 5
html(lang="en")
  head
    title TEN Console
    block head

      //- link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css", rel="stylesheet")
      link(href="//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/stylesheets/foundation.min.css", rel="stylesheet")
      link(href="/css/style.css", rel="stylesheet")

      script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/3.2.2/javascripts/foundation.min.js")
  body
    nav.top-bar
      ul
        li.name
          h1
            - if (!user)
              a(href='/') TEN Console
            - else
              a(href='/console') TEN Console
        li.toggle-topbar
          a(href="#")
      section
        ul.left
          li.divider
          li
            a(href='/api') API Documentation
          li.divider
        ul.right
          - if (!user)
            li.divider
            li
              a(href='/register') Register
            li.divider
            li
              a(href='/login') Login
          - else
            li.divider
            li.has-dropdown
              a
                span= user.username
              ul.dropdown
                li
                  label Settings
                li
                  a(href='/users/me') View Your Profile
                  a(href='/users/me/edit') Edit Your Profile
                li.divider
                li
                  a(href='/logout') Logout
            li.divider

    // Content
    block content

    // Dependencies
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      //- script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
      //- script(src="/underscore/underscore.js")
      //- script(src="/handlebars/handlebars-1.0.0-rc.1.js")
      //- script(src="/backbone/backbone.js")
      //- script(src="/layoutmanager/backbone.layoutmanager.js")

      // Appication Source
