!!! 5
html(lang="en", ng-app="TEN")
  head
    title TEN Console
    block head
      // CSS
      link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css", rel="stylesheet")
      link(href="/css/style.css", rel="stylesheet")

      // JS
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
      script(src="/angular/angular.js")
      script(src="/js/app.js")
      script(src="/js/controllers.js")

  body
    // Header
    .container
      .pull-right(style="margin-top: 25px")
        .ul.nav.nav-pills
          li: a(href="/") Home
          li: a(href="/api") API Documentation
      .clearfix
        .page-header
          h1 TEN
            small  Console

      // Content
      block content

    // Dependencies
    block scripts

      // Appication Source
