extends layout


block content
  .row
    .five.columns.centered
      form(method="POST", action="/login")
        fieldset
          legend Login
          input(type="text", name="username", placeholder="Username")
          input(type="password", name="password", placeholder="Password")
          p: input.button.small(type="submit") Sign in