extends ../../views/layout

block content
  .row
    .eight.columns
      - if (!user.isAdmin)
        //- User is not an admin.
        p You are not an admin, can not create a Location
      - else
        //- User is an admin.
        h3.subheader Create a new Location
        form.custom(action="/locations/create", method="POST")
          input(type='hidden', name='_csrf', value='#{csrftoken}')
          .row
            .large-12.columns
              select(name="organization", class="large")
                each item in organizations
                  option(value="#{item._id}") #{item.remarks}
          .row
            .large-12.columns
              h4.subheader Location Name:
              input.eight(type='text', name="name", placeholder='e.g. trottier')
          .row
            .large-12.columns
              h4.subheader Building Name:
              input.eight(type='text', name="building", placeholder='e.g. Trottier Lorne Building')
          .row
            .large-12.columns
              h4.subheader Remarks:
              textarea(type='text', name="remarks", placeholder="e.g. Ground floor across from elevators", rows="4")

          br
          br

          .row
            .large-12.columns
              input.button(type="submit") Submit
              &nbsp;
              a.button(value="Cancel", href="/console") Cancel


