extends ../../views/layout

block content
  .row
    .eight.columns
      h3.subheader Create a new Location
      form(action="/locations/create", method="POST")
        input(type='hidden', name='_csrf', value='#{csrftoken}')
        .row
          .three.mobile-one.columns
            label.right.inline Location Name:
          .nine.mobile-three.columns
            input.eight(type='text', name="name", placeholder='e.g. trottier')
        .row
          .three.mobile-one.columns
            label.right.inline Building Name:
          .nine.mobile-three.columns
            input.eight(type='text', name="building", placeholder='e.g. Trottier Lorne Building')
        .row
          .three.mobile-one.columns
            label.right.inline Remarks:
          .nine.mobile-three.columns
            textarea(type='text', name="remarks", placeholder="e.g. Ground floor across from elevators", rows="4")
        .row
          br
          br
          input.button(type="submit") Submit
          &nbsp;
          a.button(value="Cancel", href="/console") Cancel


