extends ../../views/layout

block content
  .row
    .five.columns.centered
      form(method="POST", action="/register")
        input(type='hidden', name='_csrf', value='#{csrftoken}')
        fieldset
          legend Register
          input(type="text", name="username", placeholder="Username")
          input(type="text", name="firstname", placeholder="First name")
          input(type="text", name="lastname", placeholder="Last name")
          input(type="text", name="email", placeholder="Email Address")
          input(type="password", name="password", placeholder="Password")
          p: input.button.small(type="submit") Register