extends ../../views/layout

block content
  .row
    .large-8.columns
      h3.subheader Organizations
      - if (!user.isAdmin)
        //- User is not an admin.
        p You are not an admin, can not create an Organization
      - else
        //- User is an admin.
        h3.subheader Create a new Organization
        form(action="/organizations/create", method="POST")
          input(type='hidden', name='_csrf', value='#{csrftoken}')
          .row
            .large-12.columns
              label Organization Name:
              input.eight(type='text', name="name", placeholder='e.g. Engineering Undergraduate Society')
          .row
            .large-12.columns
              label Remarks:
              textarea(type='text', name="remarks", placeholder="e.g. Notes", rows="4")

          br
          br

          .row
            .large-12.columns
              input.button(class="success", type="submit") Submit
              &nbsp;
              a.button(value="Cancel", href="/console") Cancel


