extends ../../views/layout

block content
  .row
    .eight.columns
      h4.subheader Create a new Slide
      form(action="/slides/create", method="POST")
        .row
          .three.mobile-one.columns
            label.right.inline Slide Title:
          .nine.mobile-three.columns
            input.eight(type='text', name="title", placeholder='e.g. Meet Buddy Event')
        .row
          .three.mobile-one.columns
            label.right.inline Slide Description:
          .nine.mobile-three.columns
            input.eight(type='text', name="description", placeholder='e.g. Engineering Study Buddy Program')
        .row
          .three.mobile-one.columns
            label.right.inline Remarks:
          .nine.mobile-three.columns
            textarea(type='text', name="remarks", placeholder="e.g. Special requests or remarks goes here", rows="4")
        .row
          .three.mobile-one.columns
            label.right.inline Location:
          .nine.mobile-three.columns
            label(for='checkbox1')
              input(name="location", type='checkbox', value="trottier")
              span.custom.checkbox
              | Trottier
            label(for='checkbox2')
              input(name="location", type='checkbox', value="fda")
              span.custom.checkbox.checked
              | FDA
            label(for='checkbox3')
              input(name="location", type='checkbox', value="mcconnell")
              | McConnell
            label(for='checkbox4')
              input(name="location", type='checkbox', value="rutherford")
              span.custom.checkbox
              | Rutherford
            label(for='checkbox5')
              input(name="location", type='checkbox', value="wong")
              span.custom.checkbox.checked
              | Wong
            label(for='checkbox6')
              input(name="location", type='checkbox', value="schulich")
              | Schulich
            label(for='checkbox7')
              input(name="location", type='checkbox', value="leacock")
              span.custom.checkbox
              | Leacock
            label(for='checkbox8')
              input(name="location", type='checkbox', value="ssmu")
              span.custom.checkbox.checked
              | SSMU
            label(for='checkbox9')
              input(name="location", type='checkbox', value="ottomass")
              span.custom.checkbox.checked
              | Otto Mass
        .row
          .three.mobile-one.columns
            label.right.inline Source URL:
          .nine.mobile-three.columns
            input.eight(type='text', name="source_url", placeholder='e.g. http://domain.com/image.jpg')
        .row
          .three.mobile-one.columns
            label.right.inline Upload:
          .nine.mobile-three.columns
            input(type="file", name="file")
            label Accepted formats: .jpg, .jpeg, .png
        .row
          br
          br
          input.button(type="submit") Submit
          &nbsp;
          a.button(value="Cancel", onclick='javascript:history.go(-1)') Cancel


